
.footer-border {
    border-top: 5px solid #288;
}

.nav-border {
    border-bottom: 5px solid #288;
}

.button-teal {
    background-color: #288;
    color: white;
}
.port-pics {
    max-width: 400px;
}

.pic-buttons {
    padding: 80% 0% 0% 0%;
}