
.footer-border {
    border-top: 5px solid #9c2017;
}

.nav-border {
    border-bottom: 5px solid #9c2017;
}

.button-teal {
    background-color: #9c2017;
    color: white;
}
.port-pics {
    max-width: 400px;
}

.pic-buttons {
    padding: 80% 0% 0% 0%;
}

body {
    background-color: lightgray;
}

nav {
    background-color: #222;
}

footer {
    background-color: #222;
}
